extends layout

block main
  main
    section#intro-text
      span Simple Kitchen
        h3.newheading
          | Simple &amp; Comforting 
          br
          |             Recipes All Year Round
    section#intro-image
      h3.thanks Thank you for registration!